apiVersion: batch/v1
kind: Job
metadata:
  name: db-init-job
  namespace: default
spec:
  template:
    spec:
      containers:
      - name: db-init
        image: postgres:15
        command: ["psql"]
        args:
          [
            "--host=$(DB_HOST)",
            "--username=$(DB_USER)",
            "--dbname=$(DB_NAME)",
            "-f",
            "/sql/init.sql"
          ]
        env:
        - name: PGPASSWORD
          valueFrom:
            secretKeyRef:
              name: cloudsql-secret
              key: password
        envFrom:
        - configMapRef:
            name: cloudsql-config
        volumeMounts:
        - name: sql
          mountPath: /sql
      restartPolicy: Never
      volumes:
      - name: sql
        configMap:
          name: sql-init-configmap
